.panel.panel-default
    .panel-heading 留言
        .panel-body
            form(method="post" action="../index/panel")
                textarea.form-group(name="#{liuyan}" rows="15")
                button.btn.btn-success(type="submit") 提交