extends layout

block content
    .container
     .panel.panel-default
        .panel.panel-heading 编辑文章
                .panel-body
                  form.form-horizontal(method="post" action="../blog")
                    .form-group
                        label.col-md-3.control-label(for="blogTitle") 标题
                        .col-md-7
                            input.form-control#blogTitle(type="text" name="blog[title]"  placeholder="文章标题")
                    .form-group
                        label.col-md-3.control-label(for="blog_id") _id号
                        .col-md-7
                            input.form-control#blog_id(type="number"  min = "1" max="1000"  )
                    .form-group
                        label.col-md-3.control-label(for="blogSubtitle") 副标题
                        .col-md-7
                            input.form-control#blogSubtitle(type="text" name="blog[subtitle]"  placeholder="文章副标题")
                    .form-group
                        label.col-md-3.control-label(for="blogBody") 内容
                        .col-md-7
                            textarea.form-control#blogBody(rows="20" name="blog[body]" placeholder="")
                    .form-group
                        .col-md-offset-9.col-md-3
                            button.btn.btn-success(type="submit") 提交